body{
   background: url("../img/background.svg") no-repeat;
   background-size: cover;
}

.main-container{
   width: 1030px;
   margin: auto;
   padding: 46px 0 15px;
}

.header-menu{
   display: flex;
   justify-content: space-between;
   margin-bottom: 17px;
}
.header-menu-logo{
   display: flex;
   padding-top: 5px;
   padding-bottom: 5px;
}

.header-menu-logo a{
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 29px;
   line-height: 29px;
   color: #FFFFFF;
   text-transform: uppercase;
}

.header-menu-logo span{
   font-size: 18px;
}

.header-menu-logo > a {
   background-image: url("../img/logo3.png");
   width: 53px;
   height: 47px;
   background-position: center;
   background-repeat: no-repeat;
}

.header-menu-logo:hover .header-menu-logo-img{
   background-image: url("../img/logo4.png");
}
.header-menu-logo:hover .header-menu-logo-text-link{
   color: #F26522;;
}

.header-menu-logo-text-link{
   display: flex;
   flex-direction: column;
   margin-left: 8px;
}

.header-menu-contacts{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-between;
}
.header-menu-contacts a{
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
}

.main-content-list{
   display: grid;
   grid-template-rows: repeat(2, 261px);
   grid-template-columns: repeat(3, 309px);
   grid-gap: 37px 51px;
}

.main-content-list{
   list-style: none;
}

.main-content-list img{
   width: 100%;
   height: 220px;
   margin-bottom: 20px;
}

.main-content-list li a {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
}

.copyright{
   margin: 48px 353px 0 369px;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   color: #FFFFFF;
   padding: 5px 0;
   text-align: center;
}
.header-menu-contacts a:hover{
   color: #F26522;
}

.main-content a:hover{
   color: #F26522;
}

.main-content a:hover ~ .information{
   display: block;
}

.main-content-list-shopping,
.main-content-list-sightseeing,
.main-content-list-food,
.main-content-list-bars,
.main-content-list-art,
.main-content-list-walking{
   position: relative;
}
.information{
   position: absolute;
   width: 100%;
   height: 55px;
   background-color: #F26522;
   padding: 7px 14px 12px 16px;
   opacity: 0;
   bottom: 42px;
   transition: 1.5s;
   transform: translateY(50%)
}

.main-content-list-shopping:hover .information,
.main-content-list-sightseeing:hover .information,
.main-content-list-food:hover .information,
.main-content-list-bars:hover .information,
.main-content-list-art:hover .information,
.main-content-list-walking:hover .information {
   opacity: 1;
   transform: translateY(0)
}

.information-list{
   display: grid;
   grid-template-columns: repeat(2, 1fr);

}

.form{
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 10px;
   color: #FFFFFF;
   margin-bottom: 8px;
}
.price{
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: #FFFFFF;
   grid-area: 2 / 1 / 3 / 2;
   align-self: end;
}

.details{
   position: relative;
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   color: #FFFFFF;
   grid-area: 2 / 2 / 3 / 3;
   align-self: end;
   justify-self: end;
   margin-right: 16px;
}

.details:after{
   content: "❯";
   position: absolute;
   display: inline-block;
   width: 5px;
   height: 10px;
   left: 82px;
}

.main-content-list li a img{
   border: 5px solid;
   border-image-source: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
   border-image-slice: 1;
}